.footer {
  position: relative;
  padding: 64px;
  background: hsl(0deg, 0%, 5%);
  color: white;
  text-align: center;

  a {
    color: inherit;
  }
}

@media (width <= 600px) {
  .footer {
    z-index: 2;
    padding: 24px;
  }
}
